.THIS .button-icon {
    position: sticky;
    top: 50%;
}

.THIS .icon-container {
    height: 100%;
    background-color: #ffffff;
    padding: 0.2rem;
}

.THIS .icon-container:hover {
    background-color: #f4f6f9;
}

.THIS.scrollerSizePrimary {
    height: calc(100vh - 145px);

    /* 12rem  173px*/
    overflow: hidden;
    z-index: 2;
}

.THIS.scrollerSizeSecondary {
    height: calc(100vh - 185px);
    /* 12rem  173px*/
    overflow: hidden;
    z-index: 2;
}
